<h1>All of the statuses</h1>
<div class="row">
  <div class="medium-12 columns" data-forum-posts="">
  <%= link_to 'Post a new status', new_status_path, class: "button round" %>
    <!--topic 1-->
    <div class="row post impressions new hide-for-small">
      <div class="small-12 columns">
      <% @statuses.each do |status| %>
        <div class="status">
          <div class="meta">
            <ul class="post-count-spacing small-block-grid-2 large-block-grid-2">
              <li>
                <div class="post-count new already-checked">
                  <i class="th" href="../img/demos/demo2.png">
                    <%= image_tag status.user.gravatar_url%>
                  </i>
                </div>
              </li>   
              <li>
                <div class="post-description">
                  <p class="author-name">
                    <span class="author">
                      <strong>
                        <%= status.user.full_name %>
                        ,
                      </strong>
                    </span>       
                    <span class="when">wrote
                    <%= link_to time_ago_in_words(status.created_at) + " ago.", status %>
                    </span>
                    <span class="admin">
                      |  <%= link_to " Edit ", edit_status_path(status), class: "fa fa-pencil-square-o secondary radius label" %> |
                      <%= link_to " Delete ", status, class: "fa fa-times alert radius label", method: :delete, data: {confirm: "Are you sure?"}  %>
                    </span>     
                  </p>
                  <div class="post-description copy">
                    <p><%= status.content %></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <hr class="dashed">
        <% end %>    
      </div>
    </div>
    <!-- end topic 1 large -->
  </div>
</div>