<nav class="top-bar docs-bar hide-for-small" data-topbar="">
  <!-- Left Nav Section -->
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Family Tree Book', root_path %></h1>
    </li>
    <li>
      
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li class="divider"></li>
      <% if user_signed_in?  %>
        <li class="has-dropdown">
          <%= link_to current_user.full_name %>
          <ul class="dropdown">
            <li><%= link_to 'Update Profile', settings_path %></li>
            <li><%= link_to 'Sign out', logout_path %></li>
          </ul>
        </li>
        <li class="divider"></li>
          <li class="has-form">
            <%= link_to 'Update my status', new_status_path, class: "small button" %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign up', join_path %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to 'Sign in', login_path %>
        </li>            
        <li class="divider"></li>
      <% end %>
    </ul>
    <ul class="left show-for-large-up">
      <li><%= link_to 'Feeds', feeds_path  %></li>
    </ul>
  </section>
</nav>
<nav class="tab-bar show-for-small">
  <a class="left-off-canvas-toggle menu-icon">
    <span>Famiy</span>
  </a>
</nav>

    <!-- Off Canvas Menu -->
<aside class="marketing left-off-canvas-menu">
    <!-- whatever you want goes here -->
    
</aside>
<!-- responsive elements -->